body {
    height: 100vh;
    background-color: aquamarine;
    margin: 0 auto;
    padding-top: 100px;
}
.main{
    width: 400px;
    margin: 0 auto;
}
#input{
height: 30px;
width: 70%;
border-radius: 7px;
border: 1px solid;
}
#input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
#but {
    height: 35px;
    width: 25%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(109, 109, 224);
    color:#fff
}
.but {
    background: rgb(109, 109, 224);
    border: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    width: 50px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#result {
    margin-bottom: 70px;
}
.li{
    padding: 4px 8px;
    background: #eddfff;
    border: 1px solid black;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    width:93%;
    border-radius: 5px;
}
.li-active {
    color: #555;
    text-decoration: line-through;
    background: rgb(202, 199, 199);
}

.li-active .btn {
    color: #555;
    text-decoration: line-through;
    background: #000;
}

.tot{
    font-size: 30px;
}
